.container{
  max-width: 390px;
  padding: 15px 15px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.product, .flag{
  position: relative;
  margin-top: 15px;
  text-align: center;
  padding: 30px 5px;
  width: 49%;
  border-radius: 5px;
  background-color: #33393F;
}
.product p{
  margin-top: 15px;
  font-size: 14px;
}
.product a{
  margin-top: 15px;
  display: inline-block;
  padding: 5px 20px;
  border-radius: 2px;
  background: linear-gradient(180deg, #10DFF1 0%, #EA08F2 100%);
}

/* .flag{
  margin-top: 15px;
  text-align: center;
  padding: 20px 5px;
  width: 30%;
  border-radius: 5px;
  background-color: #33393F;
} */
/* .flag img{
  width: 50%;
} */
.flag p{
  font-size: 14px;
}
.sell_btn{
  position: fixed;
  display: block;
  color: #fff;
  font-weight: 600;
  font-size: 18px;
  padding: 1.2rem 3rem;
  background-color: #31B545;
  bottom: 0;
  width: 100%;
  text-align: center;
}
.product_btn{
  padding: 5px 15px;
  margin-top: 10px;
  color: #fff;
  font-weight: 600;
  border: none;
}
.btn_add{
  background: linear-gradient(180deg, #10DFF1 0%, #EA08F2 100%);
  margin-left: 5px;
}
.btn_del{
  margin-right: 5px;
  background-color: #EA0F0F;
}
.product_count{
  position: absolute;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -10px;
  right: -5px;
  background-color: #EF7D14;
  border-radius: 100%;
}
.product_count p{
  margin: 0;
}