.container{
  max-width: 390px;
  padding: 15px 15px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.product{
  margin-top: 15px;
  text-align: center;
  padding: 30px 5px;
  width: 49%;
  border-radius: 5px;
  background-color: #33393F;
}
.product p{
  margin-top: 15px;
  font-size: 14px;
}
.product a{
  margin-top: 15px;
  display: inline-block;
  padding: 5px 20px;
  border-radius: 2px;
  background: linear-gradient(180deg, #10DFF1 0%, #EA08F2 100%);
}

.flag{
  margin-top: 15px;
  text-align: center;
  padding: 20px 5px;
  width: 30%;
  border-radius: 5px;
  background-color: #33393F;
}
.flag img{
  width: 50%;
}
.flag p{
  font-size: 14px;
}